body{
  background-color: white;
}
header{
  display: flex;
  align-items: center;
justify-content: space-between;
}
.hero{
  background-color: blue;
  padding: 10px 0px 10px 10px;
}
img{
  width: 100px;
  height: 100px;
}
.product{
  background-color: lightblue;
}